@import "tailwindcss";

@theme {
  --color-light-gray: #F5F5F5;
  --color-white: #FFFFFF;
  --color-gray: #DDDDDD;
  --color-medium-gray: #A5A5A5;
  --color-dark-gray: #4A4A4A;
  --color-black: #0E0E0E;
  --color-neon-yellow: #ECFF49;
  --color-primary-orange: #FB923C;
  --color-primary-pink: #F472B6;
  --color-primary-purple: #E879F9;

  --font-baloo: "Baloo 2", sans-serif;
  --font-body: "Red Hat Text", sans-serif;
  --font-title: "Red Hat Display", sans-serif;
}

@font {
  .font-baloo {
    font-family: var(--font-baloo);
  }
  .font-body {
    font-family: var(--font-body);
  }
  .font-title {
    font-family: var(--font-title);
  }
}